<div class="row">
  <form class="container" [formGroup]="form" (ngSubmit)="onLogin()">
    <div class="card">
      <h2>Login</h2>
      <div class="div">
        <input formControlName="username" type="text" placeholder="Username" required>
      </div>
      <div class="div">
        <input formControlName="password" type="password" placeholder="Password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-dark">Entrar</button>
      </div>
    </div>
  </form>
</div>