.container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px;
    border: none;
}
.div{
    margin-bottom: 5px;
}